@font-face {
  font-family: myfont-1;
  src: url(/font/nk57_monospace/NK57\ Monospace\ Cd\ Bd.otf);
}
@font-face {
  font-family: myfont-2;
  src: url(/font/nk57_monospace/NK57\ Monospace\ Cd\ Rg.otf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
.navbar{
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  align-items: center;  
  padding: 0 30px;
  position: fixed;
  animation: 2s ease-in-out;
  z-index: 1;
}
.nav-head img{
  width: 200px;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
}
.nav-link ul{
  display: flex;
  gap: 40px;
  align-items:center ;
}
.nav-link ul li{
  list-style-type: none;
}
.nav-link ul li a{
  text-decoration: none;
  color: white;
  font-size: 22px;
  font-family: MYFONT-1;
}
.nav-link ul li button{
  padding: 10px 30px;
  background-color: orange;
  border: 2px solid orange;
  color: black;
  border-radius: 10px;
}
.nav-link ul li button a{
  color: black;
  font-size: 18px;
}
.navbar .fa-solid{
  font-size: 40px;
  color: white;
  display: none;
}
.sidebar{
  display: flex;
  flex-direction: column;
  height:100vh;
  width: 35%;
  background: linear-gradient(93deg, #333 35%, #222 63%);
  position: fixed;
  padding: 50px 50px;
  z-index: 2;
  gap: 100px;
  display: none;
}
.side-list ul{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.side-list ul li{
  list-style-type: none;
  font-family: myfont-1;
}
.side-list ul li a{
  text-decoration: none;
  color: white;
  font-size: 22px;
}
.side-list ul li button{
  padding: 10px 30px;
  background-color: orange;
  border: 2px solid orange;
  color: black;
  border-radius: 10px;
}
.sidebar ul li button a{
  color: black;
  font-size: 18px;
  font-family: myfont-1;
}
.sidebar img{
  width: 200px;
  background-color: whitesmoke;
  padding: 5px;
  border-radius: 20px;
}
.side-head{
display: flex;
justify-content: space-between;
}

.sidebar .fa-solid{
  font-size: 30px;
  color:white;
}
.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.650),rgba(0, 0, 0, 0.650)),url(/img/gallery/gallery-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 100px 50px 0;
  text-align: center;
  gap: 30px;
}
.hero h1{
  color: white;
  font-size: 72px;
  margin-bottom: 20px;
  font-family: myfont-1;
  text-transform: capitalize;
}
.hero p{
  color: white;
  font-size: 21px;
  line-height: 35px;
  padding: 0 100px;
  font-family: myfont-2;
}
.hero .buttons{
  display: flex;
  gap: 20px;
}
.hero .buttons button{
  padding: 16px 35px;
  background-color: orange;
  border: 2px solid orange;
  font-size: 19px;
  font-weight: bold;
  border-radius: 10px;
  font-family: myfont-2;
}
.specs{
  display: flex;
  padding: 0 30px;
  height: fit-content;
  align-items: center;
  gap: 20px;
  border-radius:0 0 30px 30px;
  background-color: rgba(0, 0, 0, 0.2);
}
.specs-1,.specs-2,.specs-3,.specs-4{
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 30px;
}

.specs-1 h2,.specs-2 h2,.specs-3 h2,.specs-4 h2{
  font-size: 23px;
  font-family: myfont-1;
}

.specs-1 p,.specs-2 p,.specs-3 p,.specs-4 p{
  font-size: 15px;
  line-height: 23px;
  font-family: myfont-2;
}
.specs-1 .fa-solid,.specs-2 .fa-solid,.specs-3 .fa-solid,.specs-4 .fa-solid{
  font-size: 30px;
  margin-bottom: 10px;
  color: orangered;
}
.how{
  display: flex;
  flex-direction: column;
  padding: 100px 200px;
  gap: 50px;
  background-color: whitesmoke;
}
.how-head{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.how-head h3{
  font-size: 26px;
  color:orange;
  font-family: myfont-1;

}
.how-head h1{
  font-size: 40px;
  font-family: myfont-1;
}
.how-1{
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
.how-1 img,.how-2 img,.how-3 img{
  width: 200px;
}
.how-2{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 100px;
}
.how-3{
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.how-1 h1,.how-2 h1,.how-3 h1{
  font-size: 100px;
  font-family: myfont-1;
}

.how-1 h2,.how-2 h2,.how-3 h2{
  font-size: 30px;
  font-family: myfont-1;
}
.how-1 p,.how-2 p,.how-3 p{
  font-size: 20px;
  font-family: myfont-2;
  line-height: 30PX;
}

.how-1-con,.how-2-con,.how-3-con{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 50px;
}
.meals{
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  background: linear-gradient(93deg, #333 35%, #222 63%);
}
.meal-head{
  color: white;
  font-size: 50px;
  font-family: myfont-1;
}
.meal-cards{
  display: flex;
  gap: 50px;
}
.meal-card-1,.meal-card-2,.meal-card-3{
  width: fit-content;
  background-color: whitesmoke;
  border: 4px solid orange;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.meal-card-1-img img,.meal-card-2-img img{
  width: 320px;
  border-radius: 15px;
}
.meal-card-1-con,.meal-card-2-con{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.meal-card-3-con{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 30px;
  background-color: whitesmoke;
  width: 330px;
  border-radius: 20px;
  border: 5px solid orange;
}
.meal-card-1-con h1,.meal-card-2-con h1,.meal-card-3-con h1{
  font-size: 30px;
  text-align: center;
  font-family: myfont-1;
}
.meal-card-1-con ul,.meal-card-2-con ul,.meal-card-3-con ul{
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 25px;
}

.meal-card-1-con ul li,.meal-card-2-con ul li,.meal-card-3-con ul li{
  list-style-type: none;
  text-transform: capitalize;
  font-family: myfont-2;
}
.testimonals{
  display: flex;
  padding: 100px 20px 100px 50px;
  gap: 70px;
}
.test-left{
  display: flex;
  flex-direction: column;
  gap: 30px;

}
.test-cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px;
}
.test-head h1{
  font-size: 45px;
  font-family: myfont-1;
}
.test-head h2{
  font-size: 25px;
  font-family: myfont-1;
  color: orange;
}
.test-right{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.test-right img{
  width: 170px;
}
.test-left img{
  width: 90px;
  border-radius: 100px;
  border: 2px solid black;
}
.test-card-1,.test-card-2,.test-card-3,.test-card-4{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.test-card-1 p,.test-card-2 p,.test-card-3 p,.test-card-4 p{
  font-size: 22px;
  font-family: myfont-2;
}
.pricing{
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  background: linear-gradient(93deg, #333 35%, #222 63%);
  color: white;
}
.pricing h1{
  font-size: 48px;
  font-family: myfont-1;
}
.price-cards{
  display: flex;
  gap: 30px;
}
.price-card-1,.price-card-2{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(/img/gallery/gallery-12.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 0 0;
  color: white;
  width: 450px;
  border: 3px solid white;
  border-radius: 10px;
}
.price-card-1 ul ,.price-card-2 ul{
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}
.price-card-1 h1,.price-card-2 h1{
  font-size: 50px;
  margin-bottom: 20px;
  font-family: myfont-1;
}
.price-card-1 h2 ,.price-card-2 h2,.price-card-3 h2{
  font-size: 30px;
  font-family: myfont-1;
}
.price-card-1 button,.price-card-2 button{
  width: 100%;
  padding: 12px 30px;
  background-color: orange;
  border: 2px solid orange;
  font-size: 20px;
  font-family: myfont-1;
}

.price-card-1 ul li,.price-card-2 ul li{
  font-size: 20px;
  list-style-type: none;
  font-family: myfont-2;
}
.contact{
  display: flex;
  flex-direction: column;
  padding: 100px 150px;
  gap: 40px;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}
.contact .left form{
  border-radius: 20px 0 0 20px;
  background-color:orange;
}
.contact-cards{
  display: flex;
}
.contact h1{
  color: black;
  font-size: 50px;
  font-family: myfont-1;
}
.contact form{
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 500px;
  border: 4px solid black;
  /* background-color: rgba(255, 255, 255, 0.5); */
  padding: 40px;
}
.contact form div{
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.contact form label{
color: black;
font-family: myfont-1;
font-size: 21px;
}
.contact form input{
  width: 100%;
  height: 40px;
  font-family: myfont-2;
  outline: none;
  padding: 10px;
  border: 2px solid black;
  font-size: 20px;
  border-radius: 10px;
}
.contact form select{
  width: 100%;
  border-radius: 10px;
  height: 40px;
  font-size: 20px;
  border: 2px solid black;
}
.contact form button{
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: black;
  border: 2px solid black;
  font-size: 18px;
  color: white;
  font-family: myfont-1;
}
.contact .right{
  display: flex;
  flex-direction: column;
  padding: 30px;
  background: linear-gradient(93deg, #333 35%, #222 63%);
  gap: 30px;
  border-radius: 0 20px 20px 0;
  color: white;
}
.contact .right h2{
  font-size: 40px;
  font-family: myfont-1
}
.contact .right p{
  font-size: 20px;
  font-family: myfont-2
}
.contact .right .icons{
  display: flex;
  gap: 20px;
}
.right .icons .fa-brands{
  font-size: 30px;
}
.changeBg{
  background-color: black;
  color: white;
}
footer{
  text-align: center;
  padding: 20px;
  font-size: 16px;
  text-transform: capitalize;
  background-color: orange;
  border: 4px solid black;
  font-family: myfont-1
}